# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [91]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels as sm

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [3]:
# Your code here:
import pymysql
from sqlalchemy import create_engine
driver = 'mysql+pymysql:'
user = 'ironhacker_read'
password = 'ir0nhack3r'
ip = '35.239.232.23'
database = 'employees'

connecting_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connecting_string)

query = 'SHOW TABLES'

employees_df = pd.read_sql(query,engine)
employees_df


query2 = """
SELECT * FROM employees_advanced
"""

ea_df = pd.read_sql(query2, engine)
ea_df

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
20,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,65448.0,NaN
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
23,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,82614.0,NaN
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
29,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,110064.0,NaN
...,...,...,...,...,...,...,...,...
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33157,"ZUNIGA, VICENTE",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33159,"ZUPAN, BILL M",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33162,"ZURAWSKI, MAC Z",REFUSE COLLECTION COORD,STREETS & SAN,F,Salary,NaN,76896.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33165,"ZUREK, MARY H",SENIOR PUBLIC INFORMATION OFFICER,FINANCE,F,Salary,NaN,89076.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33167,"ZVANJA, TINA M",LEGAL SECRETARY,LAW,F,Salary,NaN,76932.0,NaN
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33171,"ZWOLFER, MATTHEW W",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
ea_df['Annual Salary'].head()

0    101442.0
1     94122.0
2    101592.0
3    110064.0
4         NaN
Name: Annual Salary, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [22]:
# Your code here:
ea_df.isna().any()

Name                 False
Job Titles           False
Department           False
Full or Part-Time    False
Salary or Hourly     False
Typical Hours         True
Annual Salary         True
Hourly Rate           True
dtype: bool

In [26]:
Total_nan = ea_df['Typical Hours'].isna().sum() + ea_df['Annual Salary'].isna().sum() + ea_df['Hourly Rate'].isna().sum()
Total_nan

58344

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [33]:
# Your code here:
ea_df[ea_df['Salary or Hourly'] == 'Salary'].count()
ea_df[ea_df['Salary or Hourly'] == 'Hourly'].count()

Name                 8022
Job Titles           8022
Department           8022
Full or Part-Time    8022
Salary or Hourly     8022
Typical Hours        8022
Annual Salary           0
Hourly Rate          8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [36]:
# Your code here:
ea_df['Department'].unique()

array(['POLICE', 'GENERAL SERVICES', 'WATER MGMNT', 'OEMC',
       'CITY COUNCIL', 'AVIATION', 'STREETS & SAN', 'FIRE',
       'FAMILY & SUPPORT', 'PUBLIC LIBRARY', 'TRANSPORTN',
       "MAYOR'S OFFICE", 'HEALTH', 'BUSINESS AFFAIRS', 'LAW', 'FINANCE',
       'CULTURAL AFFAIRS', 'COMMUNITY DEVELOPMENT', 'PROCUREMENT',
       'BUILDINGS', 'ANIMAL CONTRL', 'CITY CLERK', 'BOARD OF ELECTION',
       'DISABILITIES', 'HUMAN RESOURCES', 'DoIT', 'BUDGET & MGMT',
       'TREASURER', 'INSPECTOR GEN', 'HUMAN RELATIONS', 'COPA',
       'BOARD OF ETHICS', 'POLICE BOARD', 'ADMIN HEARNG',
       'LICENSE APPL COMM'], dtype=object)

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [89]:
# Your code here:
import numpy as np
from scipy.stats import ttest_1samp

hr_df  = ea_df.dropna(subset=['Hourly Rate'])
hourly_rate = hr_df['Hourly Rate']
ttest_1samp(hourly_rate, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [58]:
# discrepancy noticed since the actual mean of the sample is 32.78855
np.mean(hourly_rate)

32.78855771628128

In [61]:
# P Value is less than alpha (5%), therefore we reject the hypothesis

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [47]:
# Your code here:
annual_df  = ea_df.dropna(subset=['Annual Salary'])
annual_salary = annual_df['Annual Salary']
ttest_1samp(annual_salary, 86000)

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

In [59]:
np.mean(annual_salary)

86786.99979015153

Using the `crosstab` function, find the department that has the most hourly workers.

In [65]:
# Your code here:
pd.crosstab(ea_df['Department'],ea_df['Salary or Hourly'] )

#table = pd.crosstab(project_df['usd'], project_df['goal_met'] )

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:
annual_df  = ea_df.dropna(subset=['Annual Salary'])
annual_salary = annual_df['Annual Salary']
ttest_1samp(annual_salary, 86000)

In [83]:
SS_depart = ea_df[ea_df['Department'] == 'STREETS & SAN']
SS_depart_2 = SS_depart[SS_depart['Salary or Hourly'] == 'Hourly']
ttest_1samp(SS_depart_2['Hourly Rate'], 35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [108]:
SS_depart_2['Hourly Rate'].mean()

33.728378088076845

In [82]:
SS_depart_2['Hourly Rate']

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
62,"ACCIARI, NICHOLAS B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
90,"ACHA, SHARAZAN MARLENE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
106,"ACOSTA, PABLO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
111,"ADAIR, STEVEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
132,"ADAMS, GARY W",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
137,"ADAMS, JAMES H",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
145,"ADAMS, KRYSTA",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.77
152,"ADAMS, QUAN R",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
159,"ADAMS, SHEILA",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.12
169,"ADDANTE, VINCENZO",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
209,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
210,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
217,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
223,"AGUILAR JR, ROBERT",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,32.04
232,"AGUILERA, JESUS",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
237,"AGUILERA, TONY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
240,"AGUIRRE, ALEX",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
288,"AINUDDIN, ZAHID N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
289,"AITKEN, CAMUHOO R",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
302,"AKINS, LISA",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
334,"ALBA, SAUL B",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
337,"ALBERT, LOUIS",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,32.59
348,"ALCALA, RUBEN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
398,"ALEXANDER, MARK A",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
408,"ALEXANDER, VERONICA J",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
...,...,...,...,...,...,...,...,...
32642,"WRIGHT, JULIUS",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32645,"WRIGHT, LESLIE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32656,"WRIGHT, RONALD A",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32660,"WRIGHT, SHAWN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32765,"YEPEZ, JOSE A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
32784,"YONG, RICKY",FOREMAN OF MOTOR TRUCK DRIVERS,STREETS & SAN,F,Hourly,40.0,NaN,37.56
32790,"YORK, DARREL A",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32801,"YOUNG, ALLEN A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,28.48
32806,"YOUNG, BRUCE",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
32810,"YOUNG, CHARLES C",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32832,"YOUNG, LADIVA M",DISPATCHER - ARBORIST,STREETS & SAN,F,Hourly,40.0,NaN,40.20
32836,"YOUNG, LINDA F",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32850,"YOUNG, TAWANNA M",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.12
32869,"YUNG, MAY",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32884,"ZACCARI, EDWARD M",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,32.04
32915,"ZALEWSKI, FRANK A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32937,"ZAMORA, JESUS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
32940,"ZAMORA, PASCUAL",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32947,"ZANIN, KEVIN M",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32971,"ZARESKI, WALTER S",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
32974,"ZARLENGA, MICHAEL C",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
32995,"ZAVOS, JAMES M",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33000,"ZAWILA, ROBERT",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33042,"ZEPEDA, ERNESTO",TREE TRIMMER,STREETS & SAN,F,Hourly,40.0,NaN,37.25
33105,"ZIZUMBO, DAVID",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33106,"ZIZUMBO, JOSE N",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,36.13
33107,"ZIZUMBO, LUIS",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33147,"ZUMMO, ROBERT J",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
33149,"ZUNICH, JONATHAN G",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [121]:
# Your code here:

from scipy.stats import t

stats.t.interval(0.95, SS_depart_2['Hourly Rate'].count(), loc=SS_depart_2['Hourly Rate'].mean(), scale=1)

(31.767139244347657, 35.68961693180603)

In [107]:
# get the t-score/not needed though:
stats.t.ppf(1-0.025, 1862 )

1.9612388437291863

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [118]:
# Your code here:

Police_depart = ea_df[ea_df['Department'] == 'Police']
Police_depart_2 = SS_depart[SS_depart['Salary or Hourly'] == 'Salary']
Police_depart_2['Annual Salary'].mean()

stats.norm.interval(0.95, mean)

(83017.29003601546, 83021.20996398454)

In [120]:
stats.t.interval(0.95, Police_depart_2['Annual Salary'].count(), loc=Police_depart_2['Annual Salary'].mean(), scale=1)

(83017.28295061603, 83021.21704938397)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: